.forscast_container {
  width: 100%;
}
.forecasts_heading {
  font-size: var(--sans-serif-size-regular);
  font-weight: var(--sans-serif-medium);
  font-family: var(--sans-serif);
  color: var(--web-primary-color);
  padding: 10px;
}

.forecast_cards_row {
  display: flex;
  align-items: center;
  gap: 40px;
  width: 100%;
  flex-wrap: wrap;
}

@media (max-width: 480px) {
  .forscast_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .forecast_cards_row {
    justify-content: center;
  }
}
