:root {
  --web-primary-color: #4980ff;
  --web-secondary-color: #cee2f0;
  --web-tertiary-color: #dfe6f0;
  --web-white-color: #ffffff;
  --web-black-color: #000000;
  --web-shadow-color: #d3d3d3;
}
